@import '../../styles/styles.variables';
@import '../../styles/styles.mixins';
:host {
  @include dimension(100%, 100%);
  position: relative;
  overflow-y: auto;
  .flex-one {
    @include truncate;
  }
  .section {
    padding: $gutter-big;
    &:not(.page-footer):nth-child(odd) {
      @include colorize($grey, 100);
      border-top: 1px solid mat-color($grey, 300);
      border-bottom: 1px solid mat-color($grey, 300);
    } 
    &.page-welcome{
      background-color: transparent !important;
      border-top: 0px !important;

      h1, h3 {
        color: white;
        text-shadow: 0px 0px 3px mat-color($grey, 700);
      }
    }
  }
  .page-welcome {
    margin: 0 auto;
    padding: 10rem $gutter;
    position: relative; 
    // background-image: url('/assets/resources/desk.png');
    // background-size: cover;
    // background-position: center bottom;
  } 
  .we-are {
    margin-top: $gutter-big;
  }
  .page-services,
  .page-competencies {
    padding-bottom: 0;
  }
  .service-icon {
    @include dimension(auto, auto);
    font-size: 5rem;
  }
  .flex-container {
    @include flex(row, flex-start, space-between, wrap, true);
    @include dimension(100%, auto);
    padding: $gutter;
    .flex-one {
      flex: 1;
      margin-bottom: $gutter-big;
      img {
        height: 150px;
        transform: scale(.9);
        transition: transform 100ms ease-in;
        &:hover {
          transform: scale(.95);
        }
      }
      p {
        white-space: initial;
        text-align: left;
        margin-top: $gutter-big;
      }
    }
  }
  .page-services .flex-one {
    flex-basis: 25%;
    max-width: 25%;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .no-bold {
    font-weight: 400;
  }
  .form-item {
    width: 100%;
    md-input-container {
      width: 100%;
    }
    /deep/ .mat-placeholder-required {
      color: currentColor;
    }
    &.form-submit {
      @include flex(row, center, center, nowrap, true);
      /deep/ .mat-spinner {
        @include dimension(25px, 25px);
        margin-left: $gutter;
        path {
          stroke: mat-color($indigo, 500);
        }
      }
    }
  }
  .page-contact {
    padding-bottom: $gutter-large;
  }
  .ribbon-success {
    background-color: mat-color($green, 50);
    border: 1px solid mat-color($green, 200);
    color: mat-color($green, 700);
    border-radius: 1px;
    padding: $gutter-small;
    margin-bottom: $gutter;
  }
  .page-footer {
    @include colorize($grey, 800);
    @include flex;
    font-size: .8rem;
    color: mat-color($grey, 400);
    padding: $gutter;
    .flex-one:first-child {
      @include flex(row, center, flex-start);
    }
    .flex-one:last-child {
      @include flex(row, center, flex-end);
    }
    .built-with-love {
      .mat-icon {
        margin: 0 $gutter-tiny;
      }
    }
    a {
      line-height: 1;
      color: currentColor;
    }
  }
  .logo-small {
    font-size: 1.5rem;
    margin: 0 $gutter-small;
  }
}
