<!-- WELCOME -->
<div id="welcome" class="section page-welcome">
  <!-- <app-scenario [scrollEvent]="scrollEvent"></app-scenario> -->
  <h1 class="text-center uppercase">{{'WELCOME.CATCHPHRASE'|translate}}</h1>
  <h3 class="we-are text-center no-bold">{{'WELCOME.WEARE'|translate}}</h3>
</div>

<!-- SERVICES -->
<div id="services" class="section page-services">
  <h1 class="uppercase">{{'SERVICES.TITLE'|translate}}</h1>
  <div class="flex-container">
    <div class="flex-one text-center">
      <md-icon class="service-icon">code</md-icon>
      <p [innerHTML]="'SERVICES.CODE'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <md-icon class="service-icon">color_lens</md-icon>
      <p [innerHTML]="'SERVICES.UX'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <md-icon class="service-icon">important_devices</md-icon>
      <p [innerHTML]="'SERVICES.DEVICE'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <md-icon fontSet="frontflow" fontIcon="icon-server" class="service-icon"></md-icon>
      <p [innerHTML]="'SERVICES.BACKEND'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <md-icon class="service-icon">bug_report</md-icon>
      <p [innerHTML]="'SERVICES.TESTING'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <md-icon class="service-icon">local_cafe</md-icon>
      <p [innerHTML]="'SERVICES.WORK'|translate"></p>
    </div>
  </div>
</div>

<!-- TOOLKIT -->
<div id="toolkit" class="section page-competencies">
  <h1 class="uppercase">{{'TOOLKIT.TITLE'|translate}}</h1>
  <div class="flex-container">
    <div class="flex-one text-center">
      <img src="./assets/resources/angular.svg">
      <p [innerHTML]="'TOOLKIT.ANGULAR'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <img src="./assets/resources/sass.svg">
      <p [innerHTML]="'TOOLKIT.SASS'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <img src="./assets/resources/typescript.svg">
      <p [innerHTML]="'TOOLKIT.TYPESCRIPT'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <img src="./assets/resources/cordova.svg">
      <p [innerHTML]="'TOOLKIT.CORDOVA'|translate"></p>
    </div>
    <div class="flex-one text-center">
      <img src="./assets/resources/other.svg">
      <p [innerHTML]="'TOOLKIT.OTHER'|translate"></p>
    </div>
    <div class="flex-one">
      <!-- SPACER -->
    </div>
  </div>
</div>

<!-- CONTACT -->
<div id="contact" class="section page-contact">
  <h1 class="uppercase">{{'CONTACT.LETSTALK'|translate}}</h1>
  <div class="ribbon-success" *ngIf="isSuccess">{{'CONTACT.SUCCESS'|translate}}</div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
    <div class="form-item">
      <md-input-container>
        <input 
          mdInput 
          formControlName="name" 
          type="text" required
          placeholder="{{'CONTACT.FORM.NAME' | translate}}">
      </md-input-container>
    </div>
    <div class="form-item">
      <md-input-container>
        <input 
          mdInput 
          formControlName="email" 
          type="email" required
          placeholder="{{'CONTACT.FORM.EMAIL' | translate}}">
        <md-error *ngIf="!contactForm.controls['email'].hasError('required') && contactForm.controls['email'].hasError('email')">
          {{'CONTACT.FORM.ERROR.EMAIL'|translate}}
        </md-error>
      </md-input-container>
    </div>
    <div class="form-item">
      <md-input-container>
        <textarea 
          mdInput mdTextareaAutosize mdAutosizeMinRows="5" mdAutosizeMaxRows="10"
          formControlName="message" required
          placeholder="{{'CONTACT.FORM.MESSAGE' | translate}}"></textarea>
        <md-error *ngIf="contactForm.controls['message'].hasError('minlength')">
          {{ 'CONTACT.FORM.ERROR.MINLENGTH' | translate: { value: minMessage } }} 
        </md-error>
        <md-error *ngIf="contactForm.controls['message'].hasError('maxlength')">
          {{ 'CONTACT.FORM.ERROR.MAXLENGTH' | translate: { value: maxMessage } }}
        </md-error>
      </md-input-container>
    </div>
    <div class="form-item form-submit">
      <button 
        md-raised-button 
        [disabled]="isOnSubmit || !contactForm.valid"
        color="primary"
        type="submit"
        (click)="onSubmit()">
        {{'CONTACT.FORM.SEND'|translate}}
      </button>
      <md-spinner *ngIf="isOnSubmit"></md-spinner>
    </div>
  </form>
</div>

<!-- FOOTER -->
<div class="section page-footer">
  <div class="flex-one">
    <a scrollTo href="#welcome">
      <md-icon>keyboard_arrow_up</md-icon>
    </a>
  </div>
  <div class="flex-one"></div>
  <div class="flex-one">
    <a href="/">
      <i class="icon-frontflow logo-small"></i>
    </a> &copy; {{ year }}
  </div>
</div>