<div class="flex-one inline-list">
  <a href="/">
    <i class="icon-frontflow logo-full"></i>
  </a>
  <a href="#services" scrollTo md-button class="hide-xs">{{'HEADER.LINK.SERVICES'|translate}}</a>
  <a href="#toolkit" scrollTo md-button class="hide-xs">{{'HEADER.LINK.TOOLKIT'|translate}}</a>
</div>
<div class="flex-one">
  <!-- <a href="tel:{{websitePhone}}" md-button>
    <md-icon>phone</md-icon>
    <span>{{websitePhone}}</span>
  </a> -->
  <a href="#contact" scrollTo md-icon-button>
    <md-icon>mail_outline</md-icon>
  </a>
   <a routerLink="/login" md-icon-button>
    <md-icon>person</md-icon>
  </a> 
</div>

