@import '../../../styles/styles.variables';
@import '../../../styles/styles.mixins';
:host {
  @include dimension(100%, auto, $gutter);
  @include colorize($indigo, 500);
  @include flex;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 
              0 6px 10px 0 rgba(0,0,0,.14), 
              0 1px 18px 0 rgba(0,0,0,.12);
  flex-shrink: 0;
  .hidden {
    display: none;
  }
  .flex-one {
    @include truncate;
  }
  .flex-one:last-child {
    text-align: right;
  }
  .logo-full {
    font-size: 2rem;
    margin-right: $gutter;
  }
  .tween {
    transition: transform 300ms ease-in-out
  }
  .rotated {
    transform: rotate(-270deg)
  }
  .inline-list {
    @include flex(row, center, flex-start, nowrap, true);
  }
  a {
    color: white;
    &:not(.mat-icon-button):not(.mat-button) {
      line-height: 1;
    }
  }
}
