@import "~bootstrap/scss/utilities";

body {
  @include media-breakpoint-down(xs) {
    .hide-xs {
      display: none !important;
    }
    .show-xs {
      display: block !important;
    }
    .flex-container {
      .flex-one {
        padding: 0 !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .hide-sm {
      display: none !important;
    }
    .show-sm {
      display: block !important;
    }
    .flex-container {
      .flex-one {
        padding: 0 !important;
        flex-basis: 100% !important;
        max-width: 100% !important;
      }
    }
  }
  @include media-breakpoint-up(md) {
    .hide-md {
      display: none !important;
    }
    .show-md {
      display: block !important;
    }
    .flex-container {
      .flex-one {
        padding: 0 $gutter-big !important;
        flex-basis: 50% !important;
        max-width: 50% !important;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .hide-lg {
      display: none !important;
    }
    .show-lg {
      display: block !important;
    }
    .flex-container {
      .flex-one {
        padding: 0 $gutter-big !important;
        flex-basis: 33% !important;
        max-width: 33% !important;
      }
    }
  }
}