@mixin animate($class) {
  @for $i from 1 through 10 {
    $b: $i * 200;
    .#{$class}:nth-child(#{$i}) {
      opacity: 1;
      top: 0;
      transition-delay: #{$b}ms;
    }
  }
}

@keyframes bouncing {
  0% {
    bottom: $gutter;
  }
  50% {
    bottom: $gutter-small;
  }
  100% {
    bottom: $gutter;
  }
}